@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Blazor!</h1>

This is a template app, that has the below, essential features already implemented:

<ul>
    <li><a href="swagger">Swagger UI</a></li>
    <li><a href="https://learn.microsoft.com/en-us/ef/">Entity Framework</a></li>
    <li><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-7.0">Authentication</a></li>
</ul>

<p>Please edit the mentioned features, to fit your needs, and add the rest of the site.</p>

<h3>To run EF Initial migration</h3>

<ol>
    <li>In the Developer Powershell console: Navigate to Server folder, then run the below commands.</li>
    <li>dotnet ef migrations add InitialCreate --context DataContext</li>
    <li>dotnet ef database update --context DataContext</li>
</ol>

<p>Hopefully this has saved you some time.</p>
